@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;

		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;

		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;

		--primary: 274 100% 50%;
		--primary-foreground: 210 20% 98%;

		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;

		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;

		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;

		--destructive: 346 100% 60%;
		--destructive-foreground: 210 20% 98%;

		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 263.4 70% 50.4%;

		--radius: 0.75rem;

		--header-height: 36px;
		--footer-height: 0px;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.page {
		min-height: calc(100vh - var(--header-height) - var(--footer-height));
	}
}

h1 {
	@apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl font-heading;
}
h2 {
	@apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0 font-heading;
}
h3 {
	@apply scroll-m-20 text-2xl font-semibold tracking-tight font-heading;
}
h4 {
	@apply scroll-m-20 text-xl font-semibold tracking-tight font-heading;
}
p {
	@apply leading-7 font-body;
}

/* Spinner. Ref: https://cssloaders.github.io/ */
.loader {
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
